.main-wrapper {
  height: 60vh;
  margin: 30px 40px;
  margin-bottom: 120px;
}
.info-wrapper {
  margin-top: 25px;
}
.map-details {
  text-align: center;
  font-size: 1.3em;
}
.map-details span {
  font-weight: bold;
}
.search-input {
  font-size: 1.2em;
  width: 80%;
}
