.bg {
  background-image: url("LoginBG.jpg"); 
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.box {
  background: linear-gradient(90deg, rgba(28, 27, 27, 0.8), rgba(26, 23, 23, 0.32));
  width: 60%;
  height: 100vh;
  float: left;
  z-index: 2;
}

.Reminisk {
  margin: 0px;
  text-align: center;
  line-height: 100vh;
  color: #fff;
}

.box2 {
  background: linear-gradient(90deg, rgba(28, 27, 27, 0.32), rgba(26, 23, 23, 0));
  width: 40%;
  height: 100vh;
  position: relative;
  margin: 0px;
  float: right;
  z-index: 2;
}

.loginFormBox {
  position: absolute;
  top: 30%;
  left: 5%;
  width: 36vw;
  height: 40vh;
  background-color: rgba(0,0,0,0.5);
  border-radius: 10px;
}

button {
  padding: 10px 70px;
  margin: 30px 24px;
  font-size: 20px;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid #fff;
  transition: all 0.3s ease-out;
}

button:hover {
  background: #fff;
  color: #242424;
  transition: 250ms;
  cursor: pointer;
}

button:focus {
  background-color: rgb(179, 179, 179);
  border-color: rgb(179, 179, 179);
}

#register {
  padding-right: 40px;
}

div div div form input {
  color: white;
}

.inputLabel {
  color: white;
  font-size: 20px;
}

input:hover {
  cursor: pointer;
}

.loginForm{
  padding: 8px;
}
