.box {
  background-color: #e7f268;
  width: 60%;
  height: 100vh;
  float: left;
}

.Reminisk {
  margin: 0px;
  text-align: center;
  line-height: 100vh;
  color: #ccbd9f;
}

.box2 {
  background-color: #a8d389;
  width: 40%;
  height: 100vh;
  position: relative;
  margin: 0px;
  float: right;
}

.loginFormBox {
  position: absolute;
  top: 30%;
  left: 5%;
  width: 36vw;
  height: 40vh;
  background-color: rgba(255, 255, 255, 0.952);
  border-radius: 10px;
}

label {
  font-size: 20px;
  color: black;
}

button {
  padding: 10px 70px;
  margin: 30px 24px;
  background-color: turquoise;
  border-color: turquoise;
  border-radius: 6px;
  font-size: 20px;
  color: white;
  font-weight: bold;
}

button:hover {
  background-color: rgb(62, 168, 158);
  border-color: rgb(62, 168, 158);
}

button:focus {
  background-color: rgb(91, 146, 103);
  border-color: rgb(91, 146, 103);
}

#register {
  padding-right: 40px;
}
