#bg {
  background-image: linear-gradient(
      270deg,
      rgba(28, 27, 27, 0.6),
      rgba(26, 23, 23, 0.1)
    ),
    url("RegistrationBG.jpg");
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

#registrationForm {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  width: 40vw;
  height: 80vh;
  position: absolute;
  left: 30%;
  top: 10%;
  padding: 8px;
}

#back {
  padding-left: 30px;
  padding-right: 50px;
  float: left;
}

div form input {
  color: white;
}

.inputLabel {
  color: white;
  font-size: 20px;
}

#formName {
  color: white;
  text-align: center;
  font-size: 30px;
  padding: 20px;
}